{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %} | 電子塾 【ネロレイ】{% endblock %}

{% block meta %}
<meta name="Description" content="ログアウト | 電子塾 【ネロレイ】は学習に特化したQ&amp;Aサイトです。わからない問題について質問すると、他の利用者が回答してくれます。相互に理解を深めましょう。">
{% endblock %}

{% block content %}
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-secondary m-2"　type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
