{% extends "account/base.html" %}

{% load i18n %}

{% block title %}パスワード変更{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans "Change Password" %}</h1>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change" novalidate>
            {% csrf_token %}
            {% include 'common/form.html' %}
            <button type="submit"  class="btn btn-primary btn-block" name="action">{% trans "Change Password" %}</button>
        </form>
        <div class="my-3">
            <a href="{% url 'account_reset_password' %}">パスワードを忘れてしまった。</a>
        </div>
    </div>
{% endblock %}
