{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}パスワード再設定{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {% include 'common/form.html' %}
            <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}"/>
        </form>
        <p>パスワードの再設定に問題がある場合はお手数ですが<a href="https://twitter.com/sotasota0413">管理人</a>までご連絡ください。</p>
    </div>
{% endblock %}
