{% extends "account/base.html" %}

{% load i18n %}

{% block title %}パスワード変更　| 電子塾 【ネロレイ】{% endblock %}
{% block meta %}
<meta name="Description" content="パスワード変更 | 電子塾 【ネロレイ】は学習に特化したQ&amp;Aサイトです。わからない問題について質問すると、他の利用者が回答してくれます。相互に理解を深めましょう。">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans "Change Password" %}</h1>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change" novalidate>
            {% csrf_token %}
            {% include 'common/form.html' %}
            <button type="submit"  class="btn btn-primary btn-block" name="action">{% trans "Change Password" %}</button>
        </form>
        <div class="my-3">
            <a href="{% url 'account_reset_password' %}">パスワードを忘れてしまった。</a>
        </div>
    </div>
{% endblock %}
