{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}パスワードリセット　| 電子塾 【ネロレイ】{% endblock %}
{% block meta %}
<meta name="Description" content="パスワードリセット | 電子塾 【ネロレイ】は学習に特化したQ&amp;Aサイトです。わからない問題について質問すると、他の利用者が回答してくれます。相互に理解を深めましょう。">
{% endblock %}

{% block content %}
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <p><a href="https://twitter.com/sotasota0413">管理人Twitter</a></p>
{% endblock %}
