{% extends 'common/base.html' %}
{% load widget_tweaks %}

{% block title %}回答投稿画面　| 電子塾 【ネロレイ】{% endblock %}
{% block meta %}
<meta name="Description" content="回答投稿画面 | 電子塾 【ネロレイ】は学習に特化したQ&amp;Aサイトです。わからない問題について質問すると、他の利用者が回答してくれます。相互に理解を深めましょう。">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-group row m-2">
            <div class="col-sm-12">
                <form method="post" class="mb-4" novalidate>
                    {% csrf_token %}
                    <label>回答:</label>
                    {% if form.is_bound %}
                    {% if form.message.errors %}
                    {% render_field form.message class="form-control is-invalid" placeholder="4000文字以内で回答を入力してください。マークダウン記法を使うと文が見やすくなります。" %}
                    {% for error in form.message.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% else %}
                    {% render_field form.message class="form-control is-valid" placeholder="4000文字以内で回答を入力してください。マークダウン記法を使うと文が見やすくなります。" %}
                    {% endif %}
                {% else %}
                {% render_field form.message class="form-control" placeholder="4000文字以内で回答を入力してください。マークダウン記法を使うと文が見やすくなります。" %}
                {% endif %}
                    <button type="submit" class="btn btn-success">投稿</button>
                    <a href="{% url 'questions:question_detail' question_pk=question.pk %}" class="btn btn-outline-secondary" role="button">キャンセル</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}