{% extends 'common/base.html' %}
{% load static %}

{% block title %}
{% for tag in question.tag.all %}
{% if forloop.first %}
{{ tag.name }} -
{% endif %}
{% endfor %}
{{ question.subject }}　| 電子塾 【ネロレイ】{% endblock %}
{% block meta %}

<link rel="canonical" href="https://nerorei.com/">
<!--共有時-->
<meta property="og:title" content="{{ question.subject }}　| 電子塾 【ネロレイ】">
<meta property="og:type" content="article">
<meta property="og:description" content="{{ question.message }}" />
<meta property="og:url" content="https://nerorei.com/questions/{{ question.id }}/" itemprop="url">
<meta property="og:image" content="https://nerorei.com/static/images/momiji.png">
<meta property="og:site_name" content="電子塾 【ネロレイ】">
<meta property="og:locale" content="ja_JP">
{% endblock %}

{% block content %}
<div class="jumbotron">
    {% include 'questions/question_detail_part/jumbotron.html' %}
</div>

<div class="container">
    {% include 'questions/question_detail_part/question.html' %}
    <span class="my-4">回答 <span style="color: orangered;">{{ question.get_answers_count }}</span> 件</span>
    {% for answer in question.answer_set.all %}
    <hr>
    {% include 'questions/question_detail_part/answer.html' %}
    <hr>
    {% include 'questions/question_detail_part/comment.html' %}
    {% endfor %}
    <div class="py-5">
        <a href="{% url 'questions:answer_input' question.pk %}" class="btn btn-primary" role="button">回答記入へ</a>
    </div>
</div>
{% endblock %}
