{% extends 'common/base.html' %}

{% block title %}退会申請 | 電子塾 【ネロレイ】{% endblock %}

{% block meta %}
<meta name="Description" content="退会申請 | 電子塾 【ネロレイ】は学習に特化したQ&amp;Aサイトです。わからない問題について質問すると、他の利用者が回答してくれます。相互に理解を深めましょう。">
{% endblock %}

{% block content %}
    <div class="container py-3">
        <h3 class="py-3">退会申請</h3>
        <div class="p-3"
             style="background: gray;">
            退会処理を行うと、プロフィール情報、score、質問・回答などが全て削除されます。
            ご注意をお願いします。
        </div>

        <form action="{% url 'users:leave_confirm'%}" method="post" class="mb-4 mt-4">
            {% csrf_token %}
            <button name="followchu" type="submit" class="btn btn-danger">
                退会する
            </button>
        </form>

    </div>

{% endblock %}
